<header>
    <h1><a href="/">Expense Tracker</a></h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/add">Add New Entry</a></li>
        </ul>
    </nav>
</header>
